In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [29]:
# pip install psycopg
# pip install sqlalchemy
# pip install ipython-sql
# pip install pymysql
# pip install sql_magic
# pip install py-postgresql
# conda install -c conda-forge pgspecial

In [3]:
pd.__version__

'1.3.5'

In [4]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [6]:
# Check datatype and other vital properties of each columns 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   tpep_pickup_datetime   100 non-null    object
 2   tpep_dropoff_datetime  100 non-null    object
 3   passenger_count        100 non-null    int64
 4   trip_distance          100 non-null    float64
 5   RatecodeID             100 non-null    int64
 6   store_and_fwd_flag     100 non-null    object
 7   PULocationID           100 non-null    int64
 8   DOLocationID           100 non-null    int64
 9   payment_type           100 non-null    int64
 10  fare_amount            100 non-null    float64
 11  extra                  100 non-null    float64
 12  mta_tax                100 non-null    float64
 13  tip_amount             100 non-null    float64
 14  tolls_amount           100 non-null    float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  congestion_surcharge   100 non-null    float64
dtypes: float64(9), int64(6), object(3)
memory usage: 14.2+ KB

In [7]:
# Convert the tpep_pickup_datetime & tpep_dropoff_datetime to datetime data type

df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   tpep_pickup_datetime   100 non-null    datetime64[ns]
 2   tpep_dropoff_datetime  100 non-null    datetime64[ns]
 3   passenger_count        100 non-null    int64
 4   trip_distance          100 non-null    float64
 5   RatecodeID             100 non-null    int64
 6   store_and_fwd_flag     100 non-null    object
 7   PULocationID           100 non-null    int64
 8   DOLocationID           100 non-null    int64
 9   payment_type           100 non-null    int64
 10  fare_amount            100 non-null    float64
 11  extra                  100 non-null    float64
 12  mta_tax                100 non-null    float64
 13  tip_amount             100 non-null    float64
 14  tolls_amount           100 non-null    float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  congestion_surcharge   100 non-null    float64
dtypes: datetime64[ns](2), float64(9), int64(6), object(1)
memory usage: 14.2+ KB

In [9]:
# Generate a DDL statement for schema
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [31]:
# Creates an postgresql engine using create_engine from sqlAlchemy
pst_sql_engine = create_engine('postgresql://root:Emmanuel1@localhost:5432/ny_taxi')

In [32]:
#Conects engine to database
pst_sql_engine.connect()

In [12]:
# Connect the schema to the connection created above.
# Pandas will execute the result when it tries to create the table
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=pst_sql_engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [13]:
# To read/write/store a large data set, you carry out the operation in chunks
# Using the iterator and chunksize arguments.
df_in_chunk = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [14]:
print(df_in_chunk)

<pandas.io.parsers.readers.TextFileReader object at 0x7f7c99198400>

In [15]:
df = next(df_in_chunk)
len(df)

100000

In [16]:
# Convert the tpep_pickup_datetime & tpep_dropoff_datetime to datetime data type

df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [17]:
# Create a table in the database and insert the columns name of the table only
df.head(n=0).to_sql(name="yellow_taxi_data",con=pst_sql_engine, if_exists="replace")

In [18]:
%load_ext sql

In [19]:
conda install -c conda-forge pgspecial

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [20]:
#%sql postgresql://<databae_user(e.g,root)>:<your_password>@localhost:5432/<database_name>
%sql postgresql://root:Emmanuel1@localhost:5432/ny_taxi

In [21]:
%%sql
\dt

 * postgresql://root:***@localhost:5432/ny_taxi
1 rows affected.

[('public', 'yellow_taxi_data', 'table', 'root')]

In [22]:
%%sql
\d yellow_taxi_data

 * postgresql://root:***@localhost:5432/ny_taxi
19 rows affected.

[['index', 'bigint', ''],
 ['VendorID', 'bigint', ''],
 ['tpep_pickup_datetime', 'timestamp without time zone', ''],
 ['tpep_dropoff_datetime', 'timestamp without time zone', ''],
 ['passenger_count', 'bigint', ''],
 ['trip_distance', 'double precision', ''],
 ['RatecodeID', 'bigint', ''],
 ['store_and_fwd_flag', 'text', ''],
 ['PULocationID', 'bigint', ''],
 ['DOLocationID', 'bigint', ''],
 ['payment_type', 'bigint', ''],
 ['fare_amount', 'double precision', ''],
 ['extra', 'double precision', ''],
 ['mta_tax', 'double precision', ''],
 ['tip_amount', 'double precision', ''],
 ['tolls_amount', 'double precision', ''],
 ['improvement_surcharge', 'double precision', ''],
 ['total_amount', 'double precision', ''],
 ['congestion_surcharge', 'double precision', '']]

In [23]:
%time df.to_sql(name="yellow_taxi_data",con=pst_sql_engine, if_exists="append")

CPU times: user 3.57 s, sys: 106 ms, total: 3.68 s
Wall time: 12.4 s

In [24]:
%%sql
SELECT COUNT(*)
FROM yellow_taxi_data

 * postgresql://root:***@localhost:5432/ny_taxi
1 rows affected.

[(100000,)]

In [25]:
from time import time

In [27]:
while True:
    start_time = time()
    df = next(df_in_chunk)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name="yellow_taxi_data",con=pst_sql_engine, if_exists="append")
    
    stop_time = time()
    
    print('inserted another chunk, and it took %.3f seconds' %(stop_time - start_time))

inserted another chunk, and it took 11.200 seconds
inserted another chunk, and it took 11.527 seconds
inserted another chunk, and it took 11.526 seconds
inserted another chunk, and it took 11.653 seconds
inserted another chunk, and it took 11.543 seconds
inserted another chunk, and it took 11.565 seconds
inserted another chunk, and it took 12.162 seconds
inserted another chunk, and it took 12.033 seconds
inserted another chunk, and it took 11.996 seconds
inserted another chunk, and it took 12.167 seconds
inserted another chunk, and it took 12.980 seconds

/Users/emmanuel/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3364: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

inserted another chunk, and it took 12.195 seconds
inserted another chunk, and it took 7.599 seconds

StopIteration:

In [33]:
%%sql
SELECT COUNT(*)
FROM yellow_taxi_data

 * postgresql://root:***@localhost:5432/ny_taxi
1 rows affected.

[(1369765,)]